<div class="container main_container my-4">
  <div class="row justify-content-center">
    <h2 class ="py-4"><%= @costume.description %></h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "form_edit" %>
    </div>
  </div>
</div>
