<div class="main_container background-form" style= "background-image: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1519340241574-2cec6aef0c01?ixlib=rb-1.2.1&auto=format&fit=crop&w=2378&q=80')">
  <div class= "container">
    <div class="row justify-content-left">
      <h1 class = "py-5" style = "color:white "><%= @costume.description %></h1>
    </div>
    <div class="row justify-content-left">
      <div class="col-4">
        <%= render "form_edit" %>
      </div>
    </div>
  </div>
</div>

