<div class="row">
  <h1>Costumes #index</h1>
</div>

<div class="row">
  <div class="cards">
    <% @costumes.each do |costume| %>
      <div class="card-costume">
        <%= cl_image_tag costume.photo.key, crop: :fill if costume.photo.attached? %>
        <div class="card-costume-infos">
          <div>
            <h2><%= costume.description %></h2>
            <p><%= costume.theme %></p>
          </div>
          <h2 class="card-trip-pricing"><%= costume.price %> €</h2>
        </div>
      </div>

    <% end %>

  </div>
</div>

