<div class="row">
  <h1>Costumes #index</h1>
</div>

<div class="row">
  <div class="cards">
    <div class="card-costume">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-costume-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>

    <div class="card-costume">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-costume-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>

    <div class="card-costume">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-costume-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
  </div>
</div>

