<div class="main_container" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'clown.jpg'%>'">
<div class= "container">
  <div class="row justify-content-center">
    <h1 class = "py-5" style = "color:white ">Add a new costume </h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <%= render "form_new" %>
    </div>
  </div>
</div>
</div>

</div>
