.home-banner {
  background-image: url('https://images.unsplash.com/photo-1493849749377-e4f82d0a8319?ixlib=rb-1.2.1');
  background-size: cover;
  height: 100vh;
  color: #eee;
  //text-align: left;
  padding-top: 40vh;
}
