input[type=file]::-webkit-file-upload-button {
  width: 50%;
  color: white;
  background: none;
  border-color: white;
}


input[type=file] {
  position: relative;
  margin-bottom: 30px;
  color: white;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}



.btn-danger {
  width: 100%;
  border-radius: 4px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  cursor: f6fa;
}
