input[type=file]::-webkit-file-upload-button {
  width: 100%;
  color: white;
  background: none;
  border-color: white;
}

.btn-danger {
  width: 100%;
  border-radius: 4px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  cursor: f6fa;
}
