.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgb(220,220,220)
  //background-color: white;
}

// .navbar-lewagon-white {
//   background-color: white;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.mr-auto {
  display: flex;
  align-items: center;
}


